<main id="main" role="main">
  <div class="form-wrapper">
    <div class="form-container">
      <h1 class="text-center"> SignUp here </h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "p-4") do |f| %>
      <%# <form class="p-4"> %>
      <%= f.error_notification %>
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control" id="name" placeholder="Full name">
      </div>
      <div class="form-group form-inputs">
        <label for="exampleDropdownFormEmail2">Email address</label>
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-control" }%>
      </div>
      <div class="form-group form-inputs">
        <label for="exampleDropdownFormPassword2">Password</label>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "form-control" } %>
        <%# <input type="password" class="form-control" id="password" placeholder="Password"> %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <%# <div class="form-actions">
        <%= link_to "<button class=\"btn btn-primary\">Sign in with Facebook</button>", user_facebook_omniauth_authorize_path %>
      <%# </div>%>
      <% end %>

      <%= render "devise/shared/links" %>
      </form>
    </div>
  </div>
</main>

<footer id="sticky-footer" class="py-4 bg-light text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Geek Gamers</small>
  </div>
</footer>