<div class="form-container">
    <h1 class="text-center"> Login here </h1>
    <form class="p-4">
        <div class="well">
            <div class="form-group">
                <label for="email">Date:</label>
                <input class="date-time" type="date" name="Pick up date">
            </div>
            <div class="form-group">
                <label for="email">Time:</label>
                <input class="date-time" type="time" name="Pick up time">
            </div>
            <button type="submit" class="btn btn-primary btn-registration">Proceed</button>
        </div>
    </form>
</div>
</div>
</main>


<div class="form_main">

    <div class="form">
        <div id="contactFrm" name="contactFrm" ,>
            <%= form_for( @game, url: games_path, method: :get) do |form|%>
            <%= form.label :pickup_date, "PICK-UP DATE:",class: "txt" %>
            <%=form.date_field :pickup_date,class: "form-control ",:required => true %>
            <%= form.label :pickup_date, "RETURN DATE:",class: "txt" %>
            <%=form.date_field :return_date,class: "form-control ",:required => true %>
            <br>
            <%=form.submit "RENT NOW" ,class: "btn btn-primary black-background white btn-block text-uppercase"%>
            <%end%>
        </div>
    </div>
</div>