<%= link_to "Create", new_game_path, class: "btn btn-dark"%>
<div class="container-card">
    <%@games.each do |game|%>
    <%# <%byebug %>
    <div class="card" style="width: 18rem;">
        <%# <% if game.picture.attached?%>
        <%= image_tag(url_for(game.picture), :alt => "game image")%>
        <%# <%end%>
        <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
        <div class="card-body">
            <h5 class="card-title"><%=game.game_name%></h5>
            <p class="card-text"><%=game.description%></p>
            <p class="card-text"><%=game.price%></p>
        </div>
        <%#<%= form_for(game, url: charges_new_path, method: :get) do |f|%>
        <%#<%= f.hidden_field :game_id, :value => game.id %>
        <%#<%= f.submit "Buy Now", class:"btn btn-primary"%>
        <%#<%end%>
        <%= form_for(game, url: game_path(game), method: :get) do |f|%>
        <%= f.hidden_field :game_id, :value => game.id %>
        <%= f.submit "View", class:"btn btn-primary"%>
        <%end%>
    </div>
    <%end%>