<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4">Sign in With Geek Gamers </h2>
      <div class="row">
        <div class="col-md-6 mx-auto">

          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Sign in</h3>
            </div>
            <div class="card-body">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },class:"form-control form-control-lg rounded-0" %>
              </div>
              <div class="form-group">
                <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }, class:"form-control form-control-lg rounded-0" %>
              </div>
              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <%= f.input :remember_me, class: "custom-control-description small text-dark",  as: :boolean if devise_mapping.rememberable?%>
                </label>
              </div>
              <%= f.button :submit, "Sign in",class: "btn btn-success btn-lg float-right" %>
              </form>
            </div>
            <!--/card-block-->
            <div class="card-footer">
              <div class="d-flex justify-content-center links">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
<% end %>