<!DOCTYPE html>
<html>

<head>
    <title>GeekGamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <%if user_signed_in?%>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%=link_to "Geek Gamers", class:"navbar-brand"%>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <%=link_to "Home", class:"nav-link" do%>
                    <span class="sr-only">(current)</span>
                    <%end%>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <%=link_to "create a post", new_game_path, class: "nav-link"%>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Games
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%=link_to "Popular Games",games_path, class:"dropdown-item"%>
                        <%=link_to "Upcoming Games",games_path, class:"dropdown-item"%>
                        <%=link_to "New Released Games",games_path, class:"dropdown-item"%>
                        <%=link_to "Game Posts",games_path, class:"dropdown-item"%>
                        <%=link_to "My posts",user_games_path, class:"dropdown-item"%>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do%>
                    <span class="fas fa-sign-out-alt"></span> Logout
                    <% end%>
                </li>
            </ul>
            <%else%>
            <ul class="nav navbar-nav ml-auto sign">
                <li class="nav-item">
                    <%=link_to new_user_registration_path, class:"nav-link" do%>
                    <span class="fas fa-user"></span> Sign Up
                    <% end%>
                </li>
                <li class="nav-item">
                    <%=link_to new_user_session_path, class:"nav-link" do%>
                    <span class="fas fa-sign-in-alt"></span> Sign in
                    <% end%>
                </li>
            </ul>
        </div>
        <%end%>
        </div>
    </nav>
    <main id="main" role="main">
        <section id="cover" class="text-center p-5">
                <%= yield %>
            </div>
        </section>
    </main>
    <footer id="sticky-footer" class="py-4 bg-light text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Geek Gamers</small>
        </div>
    </footer>

</body>

</html>