<!DOCTYPE html>
<html>
  <head>
    <title>GeekGamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-md bg-light navbar-light sticky-top">
        <a class="navbar-brand" href="./user_page">Geek Gamers</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
            aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%if user_signed_in?%>
        <div id="navb" class="navbar-collapse collapse hide">
            <ul class="navbar-nav games">
                <li class="nav-item">
                    <a class="nav-link" href="#">Popular Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upcoming Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Released Games</a>
                </li>
                <li class="nav-item">
                    <%= link_to "Posts",games_path %>
                </li>
                <li class="nav-item">
                    <%=link_to "create a post", new_game_path%>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do%>
                    <span class="fas fa-sign-out-alt"></span> Logout
                    <% end%>
                </li>
            </ul>
        </div>
        <%else%>
         <div id="navb" class="navbar-collapse collapse hide">
            <ul class="nav navbar-nav ml-auto sign">
                <li class="nav-item">
                    <%=link_to new_user_registration_path, class:"nav-link" do%>
                    <span class="fas fa-user"></span> Sign Up
                    <% end%>
                </li>
                <li class="nav-item">
                    <%=link_to new_user_session_path, class:"nav-link" do%>
                    <span class="fas fa-sign-in-alt"></span> Sign in
                    <% end%>
                </li>
            </ul>
        </div>
        <%end%>

    </nav>
</header>
    <%# <%%>
    <%# <%= render 'layouts/nav '%> 
    <%# <%end%>
    <%= yield %>

  </body>
</html>
